<div class="d-flex align-items-center justify-content-center">
  <h1>LIST OF POKEMON</h1>
</div>

<div class="container">
  <% unless @pokemons.nil? %>
    <% @pokemons.each do |pokemon| %>
      <li><%= link_to pokemon.name %>
      <%= link_to pokemon.location %>
      <%= link_to pokemon.move %></li>
    <%end %>
  <%end %>
  <% unless @harrypotters.nil? %>
    <% @harrypotters.each do |harrypotter| %>
      <li><%= link_to harrypotter.character %>
      <%= link_to harrypotter.house %>
      <%= link_to harrypotter.quote %></li>
    <%end %>
  <%end %>
</div>

<%= will_paginate @pokemons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>